body {
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

nav {
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}

nav a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border-color: goldenrod;
    color: white;
}

.btn:hover {
    background-color: goldenrod;
}

.edit {
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}

.edit h1 {
    color: #17a2b8;
    font-size: 2.5rem;
}